#==========================================================
# Security
# If it is required for this app to authenticate the user.
#==========================================================
ALLOW_LOGIN=YES
ENFORCE_SERVER_UP_DETECTION=YES

# FIll up info if user want to pre-fill the login fields
BASIC_USER=vstsadmin
BASIC_PASS=admin12345!

#Main Page Customization
PAGE_ABOUT_TITLE=About
PAGE_API_TITLE=API Calls
PAGE_AUDIT_TITLE=Windows Audit
PAGE_CONFIG_TITLE=Configuration
PAGE_FORM_TITLE=Data Entry
PAGE_INDEX_TITLE=LaFrameTron
PAGE_LTE_TITLE=AdminLTE
PAGE_MDB_TITLE=MDB Database
PAGE_PDFMAKE_TITLE=PDF Maker
PAGE_QRCODE_TITLE=QR Code
PAGE_REPORT_TITLE=Report Code
PAGE_SERIAL_TITLE=Serial Receiver
PAGE_VIDEO_TITLE=Video Capture
PAGE_LOGIN_TITLE=Login


#=============================================================
# Database Configuration
# Used only of the app will be accesing the database directly
# and not via API calls to an application server.
#=============================================================
DB_HOST=LOCALHOST
DB_USER=root
DB_PASSWORD=password
DB_NAME=dbwavegis
DB_ENTITY=GENESYS

#============================================================
# Application Server.
# This is the source of the app all data and business logic.
#============================================================
APP_PROTOCOL=http
APP_HOST=127.0.0.1
APP_PORT=4140

#Receiving Port
PORT_RCV_NAME=COM1
PORT_RCV_BAUD=9600

#Sending Port
PORT_SND_NAME=COM2
PORT_SND_BAUD=9600

#MDBTools
MDB_PATH=C:\MDBTOOLS-WIN
MDB_DBPATH=D://Test.mdb

#Check for updates
APP_UPDATE_URL=https://example.com/version.txt

# Camera Control
CAM_MIN_ZOOM_VALUE=100
CAM_MAX_ZOOM_VALUE=300
CAM_ZOOM_STEP=50
CAM_INIT_VALUE=300
