#Security
ALLOW_LOGIN=NO

#Main Page Customization
PAGE_INDEX_TITLE=Lalulla
PAGE_ABOUT_TITLE=About
PAGE_FORM_TITLE=Video Capture
PAGE_VIDEO_TITLE=Video Capture
PAGE_SERIAL_TITLE=Serial Receiver
PAGE_QRCODE_TITLE=QR Code
PAGE_MDB_TITLE=MDB Database
PAGE_CONFIG_TITLE=Configuration

#Database Configuration
DB_HOST=LOCALHOST
DB_USER=root
DB_PASSWORD=password
DB_NAME=dbwavegis
DB_ENTITY=LALLULA

#Application Server
APP_HOST=127.0.0.1
APP_PORT=3101

#Receiving Port
PORT_RCV_NAME=COM1
PORT_RCV_BAUD=9600

#Sending Port
PORT_SND_NAME=COM2
PORT_SND_BAUD=9600

#MDBTools
MDB_PATH=C:\MDBTOOLS-WIN
MDB_DBPATH=C:\test.mdb
